* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -moz-user-select: none !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.body {
  margin-top: 50px;
  justify-content: center;
  color: rgb(57, 4, 107);
  padding-bottom: 50px;
}
.game_container {
  width: 500px;
  margin-right: 50px;
}

.d-flex {
  display: flex;
}
.justi-ar {
  justify-content: space-around;
}
.collection-item {
  width: 71px;
  overflow: hidden;
  white-space: nowrap;
}

.input_score {
  text-align: center;
}
/* custom btn */
.waves-effect .waves-brown .waves-ripple {
  background-color: rgba(255, 255, 255, 0.8);
}
td {
  width: 90px;
  text-align: center;
  padding: 0;
}

.btn_add {
  background-color: rgb(255, 255, 255);
  color: rgb(64, 7, 97);
  border: 1px solid;
  border-color: rgb(115, 22, 202);
  margin: 10px;
  border-radius: 4px;
}
.bg {
  position: relative;
  top: 62px;
  left: 15px;
  width: 80px;
  height: 50px;
  border-radius: 6px;
  display: block;
  animation: pulses 1.2s ease infinite;
  background: rgba(115, 22, 202, 0.658);
  box-shadow: 1 1 1 1 rgba(#64208b, 1);
}

@keyframes pulses {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
.btn_add:hover {
  background-color: rgb(124, 97, 156);
  color: #ffffff;
}
.btn_clr {
  background-color: rgb(247, 247, 247);
  color: rgb(255, 0, 0);
  border: 1px solid;
  border-color: rgb(255, 33, 33);
  margin: 10px;
  border-radius: 4px;
}
.btn_clr:hover {
  background-color: rgb(250, 181, 181);
  color: #ffffff;
}
.btn_audio {
  background-color: rgb(247, 247, 247);
  color: rgb(0, 26, 255);
  border: 1px solid;
  border-color: rgb(38, 0, 255);
  margin: 10px;
  border-radius: 4px;
}
.btn_audio:hover {
  background-color: rgb(8, 8, 170);
  color: #ffffff;
}

.sp_bw {
  justify-content: space-between;
}

.name_p1 {
  color: red;
}
.name_p2 {
  color: green;
}
.name_p3 {
  color: violet;
}
.name_p4 {
  color: orange;
}
.name_p5 {
  color: blue;
}

.chart_container {
  width: 450px;
}

.add_responsive {
  background-color: rgb(255, 255, 255);
  color: rgb(64, 7, 97);
  border: 1px solid;
  border-color: rgb(115, 22, 202);
  margin: 10px;
  border-radius: 4px;
  display: none;
}

.clear_responsive {
  background-color: rgb(247, 247, 247);
  color: rgb(255, 0, 0);
  border: 1px solid;
  border-color: rgb(255, 33, 33);
  margin: 10px;
  border-radius: 4px;
  display: none;
}
@media only screen and (max-width: 415px) {
  .add_responsive {
    display: block;
  }
  .chart_container {
    display: none;
  }
  .clear_responsive {
    display: block;
  }
  .body {
    position: relative;
    left: 20px;
    justify-content: center;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: white;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Hide players based on player count */
.player-hidden {
  display: none !important;
}
/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #c4a5ff;
}
::-webkit-scrollbar-thumb {
  background: rgb(62, 41, 85);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(39, 0, 82);
}
